nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 50px;
  width: 100%;
  height: 100px;
}

.logo {
  opacity: 1;
  width: 230px;
  height: 50px;
  margin-right: auto;
}

.logo a {
  display: inline-block;
  width: 100%;
  height: 50px;
  background: url("/img/logo.svg") no-repeat center/contain;
}

.nav-container {
  display: flex;
}

.navlink {
  text-decoration: none;
  color: var(--white);
}

.navlink:hover {
  color: var(--mid-blue);
}

#logout-form {
  display: inline;
}

#logout-button {
  background: none;
  border: none;
  font-size: 1.4375rem;
  font-weight: 400;
  letter-spacing: 3px;
  cursor: pointer;
}

nav ul li {
  list-style: none;
  float: left;
}

nav ul li:not(:first-child) {
  margin-left: 50px;
}

nav ul li a {
  display: inline-block;
  font-size: 1.4375rem;
  font-weight: 400;
}

@media (max-width: 864px) {
  nav {
    height: 50px;
    padding: 0 0 0 20px;
  }

  .logo {
    width: 120px;
    height: 25px;
  }

  .logo a {
    height: 25px;
  }

  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: var(--black);
    opacity: 0;
    transition: all 0.2s ease;
  }

  .nav-container ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  .nav-container ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
    transition-delay: 0.2s;
  }

  .nav-container ul li:not(:first-child) {
    margin-left: 0;
  }

  .nav-container ul li a {
    padding: 10px 24px;
    opacity: 0;
    transform: translateX(-20px);
    transition: all 0.2s ease;
  }

  .nav-btn {
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }

  .nav-btn i {
    display: block;
    width: 20px;
    height: 2px;
    background: var(--white);
    margin-left: 14px;
  }

  .nav-btn i:nth-child(1) {
    margin-top: 16px;
  }

  .nav-btn i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }

  .nav-btn i:nth-child(3) {
    margin-top: 4px;
  }

  #logout-button {
    padding: 10px 24px;
  }
}
/* Mobile Nav Animation */
#nav:checked + .nav-btn {
  transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
  background: var(--white);
  transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
  opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-container {
  z-index: 9990;
  opacity: 1;
}

#nav:checked ~ .nav-container ul li a {
  opacity: 1;
  transform: translateX(0);
}

.hidden {
  display: none;
}

.search-lg-centred {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}

form {
  width: 100%;
}
form .search-container {
  display: flex;
  flex-direction: column;
}
form .search-container input {
  width: 100%;
  height: 50px;
  margin: 30px auto;
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
  padding: 0 10px;
}
form .search-container .search-button-container {
  display: flex;
}
form .search-container .search-button-container button {
  height: 50px;
  width: 200px;
  background-color: transparent;
  border: 3px solid var(--white);
  color: var(--white);
  margin: 0 auto;
  font-size: 28px;
  letter-spacing: 3px;
  cursor: pointer;
}
form .search-container .search-button-container button:hover {
  color: var(--mid-blue);
  border: 4px solid var(--mid-blue);
}

@media (max-width: 1200px) {
  form .search-container input {
    height: 40px;
    margin: 20px auto;
    font-size: 18px;
  }
  form .search-container .search-button-container button {
    height: 40px;
    width: 180px;
    font-size: 24px;
  }
}
.card-container {
  height: auto;
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card-container .card {
  background-color: var(--mid-blue);
  width: 30%;
  height: 400px;
  display: inline-block;
  color: var(--white);
  text-decoration: none;
  margin-bottom: 20px;
  border-radius: 10px;
}
.card-container .card .inner-card {
  padding: 15px;
}
.card-container .card .inner-card .card-image {
  height: 200px;
  width: 100%;
  margin-bottom: 10px;
}
.card-container .card .inner-card .card-text {
  margin: 10px 0;
}
.card-container .card .inner-card .card-time {
  font-size: 16px;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.card-container .card .inner-card .card-title {
  font-size: 20px;
  font-weight: normal;
}

@media (max-width: 1200px) {
  .card-container {
    flex-direction: column;
    align-content: center;
  }
  .card-container .card {
    width: 95%;
    height: 350px;
  }
}
.meetup-details-container {
  display: flex;
  margin: 25px 0;
  justify-content: space-between;
}
.meetup-details-container .meetup-details-first, .meetup-details-container .meetup-details-second {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.meetup-details-container .meetup-details-first {
  width: 65%;
}
.meetup-details-container .meetup-details-first h1 {
  font-weight: normal;
  font-size: 48px;
  margin-bottom: 25px;
}
.meetup-details-container .meetup-details-first .meetup-details-image {
  height: 400px;
  width: 100%;
  margin-bottom: 25px;
}
.meetup-details-container .meetup-details-second {
  width: 30%;
}
.meetup-details-container .meetup-details-second .meetup-group-card {
  display: flex;
  padding: 10px;
  border: 1px solid var(--dark-blue);
  background: var(--mid-blue);
  border-radius: 10px;
}
.meetup-details-container .meetup-details-second .meetup-group-card .meetup-details-group-img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid var(--mid-blue);
  flex-shrink: 0;
}
.meetup-details-container .meetup-details-second .meetup-group-card .meetup-details-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.meetup-details-container .meetup-details-second .meetup-group-card .meetup-details-group h4 {
  font-size: 14px;
  font-weight: lighter;
}
.meetup-details-container .meetup-details-second .meetup-group-card .meetup-details-group h3 {
  font-weight: normal;
  font-size: 24px;
}
.meetup-details-container .meetup-details-second .meetup-details-info {
  list-style: none;
  margin-top: 25px;
}
.meetup-details-container .meetup-details-second .meetup-details-info li {
  margin-top: 25px;
  font-size: 20px;
  padding: 10px;
}
.meetup-details-container .meetup-details-second .meetup-details-info li .meetup-details-icon {
  height: 25px;
  width: 25px;
  margin-right: 20px;
}

@media (max-width: 1200px) {
  .meetup-details-container {
    flex-direction: column;
  }
  .meetup-details-container .meetup-details-first {
    width: 100%;
    margin-right: 0;
  }
  .meetup-details-container .meetup-details-first h1 {
    margin-top: 25px;
  }
  .meetup-details-container .meetup-details-first .meetup-details-image {
    height: 200px;
    margin: 25px 0;
  }
  .meetup-details-container .meetup-details-second {
    width: 100%;
    order: -1;
  }
  .meetup-details-container .meetup-details-second .meetup-details-info li {
    margin-top: 0;
  }
}
.form-container {
  margin: 0 150px;
  height: 100%;
}

.user-form-container {
  margin: 0 150px;
  height: 100vh;
}

.common-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

label {
  margin: 10px 0;
  font-size: 20px;
}

input {
  height: 30px;
  border: none;
  padding: 0 10px;
  font-size: 18px;
}

textarea {
  padding: 10px;
  font-size: 18px;
}

.form-submit-button {
  height: 50px;
  width: 200px;
  background-color: transparent;
  border: 3px solid var(--white);
  color: var(--white);
  margin: 20px auto;
  font-size: 22px;
  letter-spacing: 3px;
  cursor: pointer;
}

.form-link {
  color: var(--white);
  text-decoration: none;
  display: block;
  text-align: center;
  width: 100%;
}
.form-link span {
  color: var(--mid-blue);
}

.message-text {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 3px;
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
}

@media (max-width: 1200px) {
  .form-container, .user-form-container {
    margin: 0 20px 40px 20px;
  }

  .common-form {
    width: 100%;
  }

  label {
    font-size: 16px;
  }

  input {
    height: 25px;
    border: none;
    padding: 0 10px;
    font-size: 16px;
  }

  .form-submit-button {
    width: 150px;
    font-size: 20px;
  }

  .message-text {
    font-size: 16px;
  }
}
.profile-container {
  justify-content: flex-start;
}
.profile-container .profile-card {
  background-color: var(--mid-blue);
  width: 19%;
  height: 200px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin: 2.5px;
  justify-content: center;
}
.profile-container .profile-card .profile-card-inner {
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.profile-container .profile-card .profile-card-inner .profile-card-title {
  color: var(--white);
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}
.profile-container .profile-card .profile-card-inner .profile-card-icon-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.profile-container .profile-card .profile-card-inner .profile-card-icon-container .profile-card-icon, .profile-container .profile-card .profile-card-inner .profile-card-icon-container .delete-meetup-form {
  height: 30px;
  width: 30px;
}
.profile-container .profile-card .profile-card-inner .profile-card-icon-container .delete-meetup-form #delete-icon {
  border: none;
  background: none;
  cursor: pointer;
}
.profile-container .profile-card .profile-card-inner img {
  display: block;
  height: 60px;
  width: 60px;
  margin: 0 auto 10px auto;
}
.profile-container .profile-card .profile-card-inner h2, .profile-container .profile-card .profile-card-inner h3 {
  text-align: center;
  font-weight: 400;
}
.profile-container .profile-card .profile-card-inner span {
  font-weight: 300;
}

@media (max-width: 1200px) {
  .profile-container .profile-card {
    width: 100%;
    height: 100px;
    justify-content: center;
  }
  .profile-container .profile-card #meetup-create-card {
    flex-direction: column;
  }
  .profile-container .profile-card .profile-card-inner {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95%;
  }
  .profile-container .profile-card .profile-card-inner .profile-card-icon-container {
    margin-top: 0;
    width: 80px;
    justify-content: space-between;
  }
  .profile-container .profile-card .profile-card-inner #edit-icon {
    margin-right: 5px;
  }
  .profile-container .profile-card .profile-card-inner img {
    height: 40px;
    width: 40px;
  }
  .profile-container .profile-card .profile-card-inner h2 {
    font-size: 20px;
  }
}
:root {
  font-size: 16px;
  letter-spacing: 3px;
  scroll-behavior: smooth;
  --black: #1b1b1b;
  --dark-blue: #003534;
  --mid-blue: #00A3A0;
  --white: #fff;
  --message-fail: #b22b2b;
  --message-success: #2bb25a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
}

html {
  position: relative;
}

body {
  height: 100%;
  background-color: var(--black);
  color: var(--white);
}

.background-img {
  background: url("/img/bike-background.svg") no-repeat fixed right/contain;
  height: calc(100vh - 100px);
}

.home-container {
  height: 100%;
  margin: 0 150px;
}

.container {
  height: calc(100vh - 150px);
  margin: 0 150px;
  position: relative;
}

.small-container {
  height: 100vh;
  margin: 0 50px;
}

.message-container {
  width: 100%;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 3px;
  margin: 5px 0;
  padding: 5px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}

.message-success {
  background-color: var(--message-success);
}

.message-fail {
  background-color: var(--message-fail);
}

.down-arrow {
  margin-top: 15px;
  height: 30px;
  width: 30px;
  transform: rotate(90deg);
  text-decoration: none;
}
.down-arrow img {
  height: 30px;
  width: 30px;
}

#search-message {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.h1-lg {
  font-weight: 400;
  font-size: 64px;
}

.h1-sm {
  font-weight: 400;
  font-size: 48px;
  text-align: center;
}

.h1-left {
  text-align: left;
}

.margin-top-20 {
  margin-top: 20px;
}

.hidden-on-desktop {
  display: none;
}

.hidden-on-mobile {
  display: block;
}

footer {
  text-align: center;
  padding-bottom: 30px;
}

@media (max-width: 1200px) {
  .home-container, .small-container {
    margin: 0 20px;
  }

  .small-container {
    height: 100%;
  }

  .container {
    margin: 0 20px 40px 20px;
    height: 100%;
  }

  .message-container {
    font-size: 18px;
  }

  .background-img {
    background-position: center;
    background-size: cover;
  }

  .h1-lg {
    font-size: 40px;
  }

  .h1-sm {
    font-size: 32px;
  }

  .hidden-on-desktop {
    display: block;
    margin-bottom: 25px;
  }

  .hidden-on-mobile {
    display: none;
  }
}

/*# sourceMappingURL=app.css.map */
