nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 50px;
  width: 100%;
  height: 100px;
}

.logo {
  opacity: 1;
  width: 230px;
  height: 50px;
  margin-right: auto;
}

.logo img {
  max-width: 100%;
  height: 100%;
}

.nav-container {
  display: flex;
}

.navlink {
  text-decoration: none;
  color: var(--white);
}

.navlink:hover {
  color: var(--black);
}

nav ul li {
  list-style: none;
  float: left;
}

nav ul li:not(:first-child) {
  margin-left: 50px;
}

nav ul li a {
  display: inline-block;
  font-size: 1.4375rem;
  font-weight: 400;
}

@media (max-width: 864px) {
  nav {
    height: 50px;
    padding: 0 0 0 20px;
  }

  .logo {
    width: 115px;
    height: 25px;
  }

  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: var(--black);
    opacity: 0;
    transition: all 0.2s ease;
  }

  .nav-container ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  .nav-container ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
    transition-delay: 0.2s;
  }

  .nav-container ul li:not(:first-child) {
    margin-left: 0;
  }

  .nav-container ul li a {
    padding: 10px 24px;
    opacity: 0;
    transform: translateX(-20px);
    transition: all 0.2s ease;
  }

  .nav-btn {
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }

  .nav-btn i {
    display: block;
    width: 20px;
    height: 2px;
    background: var(--white);
    margin-left: 14px;
  }

  .nav-btn i:nth-child(1) {
    margin-top: 16px;
  }

  .nav-btn i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }

  .nav-btn i:nth-child(3) {
    margin-top: 4px;
  }
}
/* Mobile Nav Animation */
#nav:checked + .nav-btn {
  transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
  background: var(--white);
  transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
  opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-container {
  z-index: 9990;
  opacity: 1;
}

#nav:checked ~ .nav-container ul li a {
  opacity: 1;
  transform: translateX(0);
}

.hidden {
  display: none;
}

.search-lg-centred {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
}
.search-lg-centred h1 {
  font-weight: 400;
  font-size: 64px;
}

form {
  width: 100%;
}
form .search-container {
  display: flex;
  flex-direction: column;
}
form .search-container input {
  width: 100%;
  height: 50px;
  margin: 30px auto;
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
  padding: 0 10px;
}
form .search-container .search-button-container {
  display: flex;
}
form .search-container .search-button-container button {
  height: 50px;
  width: 200px;
  background-color: transparent;
  border: 3px solid var(--white);
  color: var(--white);
  margin: 0 auto;
  font-size: 28px;
  letter-spacing: 3px;
  cursor: pointer;
}

@media (max-width: 864px) {
  .search-lg-centred h1 {
    font-size: 48px;
  }

  form .search-container input {
    height: 40px;
    margin: 20px auto;
    font-size: 18px;
  }
  form .search-container .search-button-container button {
    height: 40px;
    width: 180px;
    font-size: 24px;
  }
}
.card-container {
  height: auto;
  width: 100%;
  padding: 20px 0;
  overflow: auto;
  white-space: nowrap;
}
.card-container .card {
  background-color: var(--mid-grey);
  width: 280px;
  height: 350px;
  display: inline-block;
}

:root {
  font-size: 16px;
  letter-spacing: 3px;
  scroll-behavior: smooth;
  --black: #000;
  --dark-grey: #4d4954;
  --mid-grey: #9188a0;
  --white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html {
  position: relative;
}

body {
  height: 100%;
  background-color: var(--black);
  color: var(--white);
}

.background-img-fade {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

.background-img {
  background: url("/img/robert-bye-tG36rvCeqng-unsplash.jpg") no-repeat fixed top/150%;
  height: 100vh;
}

.container {
  height: 100vh;
  margin: 0 150px;
}

.down-arrow {
  margin: 0 auto;
  height: 20px;
  width: 20px;
  transform: rotate(90deg);
}

@media (max-width: 864px) {
  .container {
    margin: 0 20px;
  }
}

/*# sourceMappingURL=app.css.map */
