.card-container {
    height: auto;
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .card {
        background-color: var(--mid-blue);
        width: 30%;
        height: 400px;
        display: inline-block;
        color: var(--white);
        text-decoration: none;
        margin-bottom: 20px;
        border-radius: 10px;

        .inner-card {
            padding: 15px;

            .card-image {
                height: 200px;
                width: 100%;
                margin-bottom: 10px;
            }

            .card-text {
                margin: 10px 0;
            }
            
            .card-time {
                font-size: 16px;
                font-weight: lighter;
                text-transform: uppercase;
                letter-spacing: 3px;
            }

            .card-title {
                font-size: 20px;
                font-weight: normal;
            }
        }
    }
}

@media (max-width: 864px) {
    .card-container {
        flex-direction: column;
        align-content: center;

        .card {
            width: 95%;
            height: 350px;
        }
    }
}