.card-container {
    height: auto;
    width: 100%;
    padding: 20px 0;
    overflow: auto;
    white-space: nowrap;

    .card {
        background-color: var(--dark-blue);
        width: 280px;
        height: 350px;
        display: inline-block;
        color: var(--white);
        text-decoration: none;

        .inner-card {
            padding: 15px;

            .card-image {
                height: 200px;
                width: 100%;
                margin-bottom: 10px;
                background-color: var(--mid-blue);
            }

            .card-text {
                margin: 10px 0;
            }
            
            .card-time {
                font-size: 16px;
                font-weight: lighter;
                text-transform: uppercase;
                letter-spacing: 3px;
            }

            .card-title {
                font-size: 20px;
                font-weight: normal;
            }
        }
    }
}