.common-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

label {
    margin: 10px 0;
    font-size: 20px;
}
  
input {
    height: 30px;
    border: none;
    padding: 0 10px;
    font-size: 18px;
}

.form-submit-button {
    height: 50px;
    width: 200px;
    background-color: transparent;
    border: 3px solid var(--white);
    color: var(--white);
    margin: 20px auto;
    font-size: 22px;
    letter-spacing: 3px;
    cursor: pointer;
}

@media (max-width: 864px) {
    .common-form {
        width: 100%;
    }

    label {
        font-size: 16px;
    }
      
    input {
        height: 25px;
        border: none;
        padding: 0 10px;
        font-size: 16px;
    }

    .form-submit-button {
        width: 150px;
        font-size: 20px;
    }
}
  