.form-container {
    margin: 0 150px;
    height: 100%;
}

.user-form-container {
    margin: 0 150px;
    height: 100vh;
}

.common-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

label {
    margin: 10px 0;
    font-size: 20px;
}
  
input {
    height: 30px;
    border: none;
    padding: 0 10px;
    font-size: 18px;
}

textarea {
    padding: 10px;
    font-size: 18px;
}

.form-submit-button {
    height: 50px;
    width: 200px;
    background-color: transparent;
    border: 3px solid var(--white);
    color: var(--white);
    margin: 20px auto;
    font-size: 22px;
    letter-spacing: 3px;
    cursor: pointer;
}

.form-link {
    color: var(--white);
    text-decoration: none;
    display: block;
    text-align: center;
    width: 100%;

    span {
        color: var(--mid-blue);
    }
}

.message-text {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
}

@media (max-width: 1200px) {
    .form-container, .user-form-container {
        margin: 0 20px 40px 20px;
    }

    .common-form {
        width: 100%;
    }

    label {
        font-size: 16px;
    }
      
    input {
        height: 25px;
        border: none;
        padding: 0 10px;
        font-size: 16px;
    }

    .form-submit-button {
        width: 150px;
        font-size: 20px;
    }

    .message-text {
        font-size: 16px;
    }
}
  