.meetup-details-container {
    display: flex;
    
    margin-top: 25px;

    .meetup-details-first, .meetup-details-second {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .meetup-details-first {
        width: 65%;
        margin-right: 5%;

        h1 {
            font-weight: normal;
            font-size: 48px;
            margin-bottom: 25px;
        }

        .meetup-details-image {
            height: 400px;
            width: 100%;
            margin-bottom: 25px;
        }
    }

    .meetup-details-second {
        width: 30%;

        .meetup-group-card {
            display: flex;
            padding: 10px;
            border: 1px solid var(--mid-blue);

            .meetup-details-group-img {
                height: 75px;
                width: 75px;
                border-radius: 50%;
                margin-right: 10px;
                border: 1px solid var(--mid-blue);
                flex-shrink: 0;
            }
    
            .meetup-details-group {
                display: flex;
                flex-direction: column;
                justify-content: center;

                h4 {
                    font-size: 14px;
                    font-weight: lighter;
                }

                h3 {
                    font-weight: normal;
                    font-size: 24px;
                }
            }
        }

        .meetup-details-info {
            list-style: none;
            margin-top: 25px;

            li {
                margin-top: 25px;
                font-size: 20px;

                .meetup-tags-list {
                    list-style: none;

                    .meetup-tag {
                        display: inline-block;
                        background: var(--mid-blue);
                        border-radius: 25px;
                        padding: 10px;

                        a {
                            text-decoration: none;
                            color: var(--white);
                            font-weight: lighter;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 864px) {
    .meetup-details-container {
        flex-direction: column;
        
        .meetup-details-first {
            width: 100%;
            margin-right: 0;

            h1 {
                margin-top: 25px;
            }

            .meetup-details-image {
                height: 200px;
            }
        }

        .meetup-details-second {
            width: 100%;
            order: -1;
        }
    }
}