@use 'navbar';
@use 'searchbar';
@use 'card';
@use 'meetup-details';
@use 'forms';
@use 'profile';

:root {
    font-size: 16px;
    letter-spacing: 3px;
    scroll-behavior: smooth;
    --black: #1b1b1b;
    --dark-blue: #003534;
    --mid-blue: #00A3A0;
    --white: #fff;
    --message-fail: #b22b2b;
    --message-success: #2bb25a;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}

html {
    position: relative;
}

body {
    height: 100%;
    background-color: var(--black);
    color: var(--white);
}

.background-img {
    background: url('/img/bike-background.svg') no-repeat fixed right/contain;
    height: calc(100vh - 100px);
}

.home-container {
    height: 100%;
    margin: 0 150px;
}

.container {
    height: calc(100vh - 150px);
    margin: 0 150px;
}

.small-container {
    height: 100vh;
    margin: 0 50px;
}

.message-container {
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 3px;
    margin: 5px 0;
    padding: 5px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    text-align: center;
}

.message-success {
    background-color: var(--message-success);
}

.message-fail {
    background-color: var(--message-fail);
}

.down-arrow {
    margin-top: 15px;
    height: 30px;
    width: 30px;
    transform: rotate(90deg);
    text-decoration: none;

    img {
        height: 30px;
        width: 30px;
    }
}

#search-message {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.h1-lg {
    font-weight: 400;
    font-size: 64px;
}

.h1-sm {
    font-weight: 400;
    font-size: 48px;
    text-align: center;
}

.h1-left {
    text-align: left;
}

.margin-top-20 {
    margin-top: 20px;
}

.hidden-on-desktop {
    display: none;
}

.hidden-on-mobile {
    display: block;
}

footer {
    text-align: center;
    padding-bottom: 30px;
}

@media (max-width: 1200px) {
    .home-container, .small-container {
        margin: 0 20px;
    }

    .container {
        margin: 0 20px 40px 20px;
    }

    .message-container {
        font-size: 18px;
    }

    .background-img {
        background-position: center;
        background-size: cover;
    }

    .h1-lg {
        font-size: 40px;
    }

    .h1-sm {
        font-size: 32px;
    }

    .hidden-on-desktop {
        display: block;
        margin-bottom: 25px;
    }

    .hidden-on-mobile {
        display: none;
    }
}

