@use 'navbar';
@use 'searchbar';

:root {
    font-size: 16px;
    letter-spacing: 3px;
    scroll-behavior: smooth;
    --background-grey: #4d4954;
    --accent-grey: #9188a0;
    --font-light: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    position: relative;
}

body {
    height: 100vh;
    background-color: var(--background-grey);
    color: var(--font-light);
}

